{% extends 'base.html' %} {% block title %} Most Liked Fossils {% endblock %} {%
block body %}
<h1>Welcome, {{ name }}</h1>
{% for fossil, values in fossils %}
<div class="fossil-div">
  <h3>{{ name }}, this is a {{ values.name }}</h3>
  <h2>Liked {{ values.num_likes }} times.</h2>
  <img src="{{ values.img }}" />
</div>
{% endfor %}
<form action="/like-fossil" method="post">
  <label for="fossil-select">What fossil do you like?</label>
  <select name="fossil-select" id="like-fossil-select">
    {% for fossil, values in fossils %}
    <option value="{{ fossil }}">{{ values.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" />
</form>
{% endblock %}
